@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("SpaceGrotesk-Regular"),
    url("./static/fonts/SpaceGrotesk-Regular.ttf") format("true-type");
}

body {
  width: 100%;
  font-family: "Space Grotesk";
  opacity: 0.6;
}

/* navigation section */

nav {
  padding-bottom: 0.5rem;
}

nav,
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999;
}

.logo > a {
  color: #4d1cff;
  margin-top: 1rem;
  font-size: 55px;
  font-weight: 900;
  text-decoration: none;
  text-shadow: -5px 3px 0px rgba(0, 0, 0, 0.2);
}

.links {
  display: flex;
  list-style-type: none;
  padding: 1rem;
  margin: 1rem auto;
  overflow-x: auto;
}

.links::-webkit-scrollbar {
  height: 7px;
  background-color: transparent;
}

.links::-webkit-scrollbar-track {
  background-color: black;
}

.links::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #4d1cff;
}

.links > li {
  margin: 0 1rem;
  padding: 4.5px 11px;
  border-radius: 15px;
  background-color: black;
  transition: background-color 300ms ease-in-out;
}

.links > li:hover {
  background-color: #4d1cff;
}

.links > li > a {
  color: white;
  text-decoration: none;
}

.links > li > a:hover {
  text-decoration: underline;
}

/* end navigation section */

/* start main section */

main {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  background-color: #dfe6ff;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.slides .slide {
  width: 100%;
  height: 100%;
  display: none;
  transform: translateX(35px);
  animation: slideLeft 1500ms ease forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(35px);
  }
  to {
    transform: translateX(0px);
  }
}

.slides .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slides .slide.active {
  display: block;
}

.slide_content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.slide_content > h1 {
  font-size: 38px;
}

.slide_content > p {
  font-size: 18px;
}

.slide_content > h1,
.slide_content > p {
  color: #ffffff;
  margin-bottom: 0.5rem;
  opacity: 0;
  animation: slideHero 1200ms ease-in-out forwards;
}

.slide_content > h1 {
  animation-delay: 1000ms;
}

.slide_content > p {
  animation-delay: 500ms;
}

@keyframes slideHero {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.book_now {
  color: #ffffff;
  width: 135px;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: black;
  transition: background-color 300ms;
  opacity: 0;
  animation: buttonHero 1200ms ease-in-out 500ms forwards;
}

@keyframes buttonHero {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.book_now:hover {
  background-color: #4d1cff;
}

.scroll_down {
  width: 60px;
  height: 60px;
  margin: 2rem auto;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}

.scroll_down::after {
  content: "";
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: scroll_push 1800ms cubic-bezier(0.96, -0.84, 0.51, 2.16) 300ms
    infinite;
}

@keyframes scroll_push {
  0% {
    top: 50%;
    opacity: 0;
  }
  75% {
    top: 75%;
    opacity: 1;
  }
  100% {
    top: 85%;
    opacity: 0;
  }
}

/* end main section */

/* start content section */

section {
  width: 100%;
  padding: 1rem;
}

.fa-icon > i {
  color: #4d1cff;
  font-size: 35px;
  padding-bottom: 0.5rem;
}

.content_header {
  margin-bottom: 2rem;
}

.content_header > h1 {
  text-align: center;
}

.cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  max-width: 247px;
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img {
  max-width: 120px;
  max-height: 120px;
  margin: 0 auto;
  border-radius: 15px;
}

.card-img > img {
  width: 100%;
  max-height: 100%;
  border-radius: 15px;
  object-position: center;
  object-fit: cover;
  border: 3px solid #4d1cff;
}

.card-content > p {
  text-align: center;
}

.btn > a {
  color: white;
  font-size: 14px;
  padding: 5px 8px;
  text-decoration: none;
  background-color: black;
  transition: 300ms ease-in-out;
}

.btn > a:hover {
  background-color: #4d1cff;
}

/* end content section */

/* start subscription letter section */
.flex-center {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscription {
  width: 75%;
  text-align: center;
}

.subscription h1 {
  font-size: 40px;
}

.subscription p {
  width: 75%;
  margin: 1rem auto;
}

.form-field {
  margin-top: 1rem;
}

.form-field input {
  font-size: 20px;
  padding: 1rem 3rem;
  border-radius: 6px;
  border: 2px solid #4d1cff;
}

.form-field input:last-child {
  color: white;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: #4d1cff;
  transition: background-color 300ms;
}

.form-field input:last-child:hover {
  background-color: black;
}

/* end subscription letter section */

/* footer */
footer {
  padding: 1rem;
  text-align: center;
  background-color: #ffffff;
}
/* end footer */

/* start media settings */
@media (max-width: 571px) {
  .logo > a {
    font-size: 28px;
  }

  main {
    height: 265px;
  }

  .links {
    width: 360px;
  }

  .scroll_down {
    width: 50px;
    height: 50px;
  }

  .cards {
    width: 80%;
  }
  .flex-center {
    padding: 1rem;
  }

  .subscription {
    width: 95%;
    text-align: center;
  }

  .subscription h1 {
    font-size: 28px;
  }

  .subscription p {
    width: 90%;
  }

  .form-field {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form-field input {
    font-size: 16px;
    padding: 1rem 2rem;
  }

  .form-field input:last-child {
    margin-top: 0.5rem;
  }
}

/* end media settings */
